name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key=${{ secrets.BB_NEWTEST_POSTMAN_API_KEY }}

      - name: Create results directory
        run: mkdir -p results

      - name: Run API tests
        run: |
           postman collection run "37502425-390ca486-0b8d-4140-8cb2-afa56232c8af" ,junit --reporter-junit-export results/test-results.xml

      - name: Install testmo CLI
        run: |
            npm install -g @testmo/testmo-cli

      - name: Submit Test Results to Testmo
        run: |
            testmo automation:run:submit \
            --instance https://moore.testmo.net \
            --project-id 5 \
            --name "GitHub Postman API Test Run" \
            --source "postman" \
            --results "results/test-results.xml"
          
          
      
