name: UAT Automated API tests using Postman CLI (Simiocat)

on:
  push:
    branches:
      - main

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key=${{ secrets.BB_NEWTEST_POSTMAN_API_KEY }}

      - name: Create results directory
        run: mkdir -p results

      - name: Run API tests
        run: |
          postman collection run "37502425-18fb3561-3456-46b2-9bcf-3d98d5cc378a" -e "37502425-35d872f8-0458-4f34-a181-1261acf65b8e" \
            --reporters junit \
            --reporter-junit-export results/test-results.xml
        continue-on-error: true

      - name: Install Testmo CLI
        run: npm install -g @testmo/testmo-cli

      - name: Submit Test Results to Testmo
        env:
          TESTMO_TOKEN: ${{ secrets.TESTMO_CLI }}
        run: |
          testmo automation:run:submit \
            --instance https://moore.testmo.net \
            --project-id 2 \
            --name "GitHub Postman API Test Run" \
            --source "postman" \
            --results "results/test-results.xml"
